body {
    --bg-color: #e4b829;
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}

#gameDiv {
    display: flex;
    flex-direction: row;
    position: relative;
}

#options {
    background-color: var(--bg-color);
    padding: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#canvasHolder {
    background-color: var(--bg-color);
    padding: 10px;
}

#gameDiv button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}

#gameDiv button:hover {
    background-color: #187c1c;
}

#bottom {
    margin-top: auto;
}

@media (max-width: 1000px) {
    #gameDiv {
        flex-direction: column;
    }

    #options, #canvasHolder, #gameDiv {
        border: none;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    #bottom {
        order: -1;
    }
}

#colorChooseHolder {
    position: absolute;
    width: 750px;
    height: 750px;
    left: 20px;
    top: 20px;
    z-index: 100;
    visibility: hidden;
}

#colorChoose {
    position: relative;
    width: 120px;
    top: 65%;
    padding: 15px;
    background-color: gray;
    border: 2px solid darkgray;
    margin: auto auto;
    z-index: 100;
    font-weight: bold;
    visibility: hidden;
}

#colorChoose button {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

#colorChoose button:nth-of-type(1) {
    background-color: red;
}
#colorChoose button:nth-of-type(2) {
    background-color: lime;
}
#colorChoose button:nth-of-type(3) {
    background-color: blue;
}
#colorChoose button:nth-of-type(4) {
    background-color: yellow;
}

#chatHistory {
    background: #ffed84;
    width: 100%;
    height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: left;
    padding: 3px;
}

#chatInput {
    width: 100%;
    padding: 2px;
    text-decoration: none;
}